<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Data</title>
</head>
<body>
    <h1>Api Data</h1>
    {%if data.error%}
        <p>{{data.error}}</p>
    {%else%}
        <br>
            {%for items in data%}
                   <li> Name: {{items.name}}</li>
                   <li>  Username: {{items.slug}}</li>
                   <li>  Position: {{items.position}}</li>
                   <li>  email: {{items.email}}</li>
                   <li>  Phone_number: {{items.phone_number}}</li>
                 <br>
                </ul>
            {%endfor%}
        </ul>
    {%endif%}
    
</body>
</html>